.AnaPencere {
    background: url(../Gorseller/Banner_Yatay.png);
    background-size: cover;
    background-position: center;
    position: fixed;
    height: 100%;
    width: 100%;
    display: table;
}

.Satir {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

#PnlSertifikalar {
    margin-top: auto;
}

.KimlikNo {
    width: 60%;
    margin: 0 auto;
    margin-top: 3rem;
}



    .KimlikNo input[type=text] {
        height: inherit;
        font-size: 2em;
        text-align: center;
        padding: 0.075rem .75rem;
    }

.Sertifikalar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-top: 15%;
}

#p_AdSoyad {
    text-transform: uppercase;
    font-size: 0.7em;
    font-weight: 500;
    margin-top: 2rem;
}

.btn {
    width: 100%;
    margin-top: 1rem;
}
/*responsive !*/



















@media screen and (max-width: 1024px) {
    .KimlikNo {
        width: 100%;
        font-size: 0.6em;
        margin: auto;
        margin-bottom: 1rem;
    }

        .KimlikNo input[type=text] {
            font-size: 2.5em;
        }

    .AnaPencere {
        background: url(../Gorseller/Banner_Dikey.png?v=1);
    }

    .btn {
        width: 100%;
        font-size: 0.9em;
    }
}


















/*responsive !*/
@media screen and (max-width: 768px) {
    .KimlikNo {
        width: 60%;
    }

        .KimlikNo input[type=text] {
            font-size: 2.5em;
            margin-top: 1rem;
        }

    #btnDiv {
        width: 100%;
        font-size: 0.5em;
    }

    .Sertifikalar {
        padding-top: 10%;
    }

    #p_AdSoyad {
        font-size: 1em;
        margin-top: 4rem;
    }

    .btn {
        font-size: 0.6em;
    }

    #PnlSertifikalar {
        font-size: 1.8em;
    }
}

/*responsive !*/


@media screen and (max-width: 580px) {
    .KimlikNo input[type=text]::placeholder {
        font-size: 0.7em;
        font-weight: 500;
        color: #6C757D;
    }
}


/*responsive !*/

@media screen and (max-width: 418px) {
    #p_AdSoyad {
        font-size: 4rem;
        margin-top: 4rem;
    }

    .btn {
        width: 100%;
    }
}

/*responsive !*/
