.AnaPencere {
    background: url(../Gorseller/Banner_Yatay.png);
    background-size: cover;
    background-position: center;
    position: fixed;
    height: 100%;
    width: 100%;
    display: table;
}

.Satir {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

#PnlSertifikalar {
    margin: auto;
}


.KimlikNo {
    width: 60%;
    margin: 0 auto;
    margin-top: 3rem;
}


.Sertifikalar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-top: 15%;
}

#p_AdSoyad {
    text-transform: uppercase;
    font-size: 2em;
    font-weight: 500;
}

.btn {
    width: auto;
}


.KimlikNo input[type=text] {
    height: inherit;
    font-size: 2em;
    text-align: center;
    padding: 0.075rem .75rem;
}

@media screen and (max-width:1024px) {
    .KimlikNo {
        width: 83%;
        font-size: 0.6em;
        margin: auto;
        margin-bottom: 1rem;
    }

        .KimlikNo input[type=text] {
            height: inherit;
            font-size: 2.5em;
            text-align: center;
            padding: 0.075rem .75rem;
        }

    .AnaPencere {
        background: url(../Gorseller/Banner_Dikey.png?v=1);
        background-size: cover;
        background-position: center;
        position: fixed;
        height: 100%;
        width: 100%;
        display: table;
    }



    .KimlikNo input[type=text] {
        font-size: 2.5em;
        margin-top: 1rem;
        height: inherit;
        padding: 0.075rem .75rem;
    }

    .btn {
        width: 50%;
        font-size: 1rem;
    }
}

@media screen and (max-width: 768px) {
    .KimlikNo {
        width: 60%;
    }

        .KimlikNo input[type=text] {
            font-size: 2.5em;
            margin-top: 1rem;
            height: inherit;
            padding: 0.075rem .75rem;
        }

    #PnlSertifikalar {
        margin-top: auto;
    }

    #p_AdSoyad {
        margin-top: -4rem;
        text-transform: uppercase;
        font-size: 2em;
        font-weight: 500;
        text-align: center;
    }

    .Sertifikalar {
        padding-top: 10%;
    }

    #btnDiv {
        width: 100%;
        font-size: 1rem;
    }

    .btn {
        font-size: 0.6em;
    }
}

@media screen and (max-width: 580px) {
    .KimlikNo input[type=text]::placeholder {
        font-size: 0.7em;
        font-weight: 500;
        color: #6C757D;
        text-align: center;
    }
}

@media screen and (min-width: 768px) {
    #PnlSertifikalar {
        font-size: 1.8em;
        margin-top: -7rem;
    }
}
